@mixin centerFlex() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  @include centerFlex();
  flex-direction: column;
  padding-block: 30px;
  &__title {
    color: chocolate;
  }
}

.container {
  @include centerFlex();
  flex-direction: column;
  gap: 15px;
  &__schedule-box {
    @include centerFlex();
    flex-direction: column;
    gap: 15px;
  }
  li {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  button {
    cursor: pointer;
  }
}

.schedule-name {
  font-style: italic;
  font-weight: bold;
}
